<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My Restaurants" />
    <meta name="theme-color" content="#D2E3C8" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-128x128.png">
    <link rel="icon" href="./favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
    <title>My Restaurant</title>
</head>

<body>
    <a href="#main-content" class="skip-link"> Skip To Content</a>
    <header class="nav">
        <div>
            <span class="logo"><i class="fa-solid fa-utensils"></i></span>
        </div>
        <nav>
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="#">About US</a></li>
                <button id="hamburgerButton" class="toggle-btn">
                    <!-- <i class="fa-solid fa-bars"></i> -->
                    ☰
                </button>
            </ul>
        </nav>
        <div id="navigationDrawer" class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="#">About US</a></li>
        </div>
    </header>

    <main id="mainContent">

        <section id="About Us" class="about-us">
            <h2 tabindex="0">About Us</h2>
            <p tabindex="0" class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sapiente
                quod amet cumque,
                voluptatibus
                earum tenetur unde eveniet quas, itaque iure culpa ex quidem commodi aperiam corrupti dolore alias
                ducimus?
            </p>
            <div class="sosmed">
                <a href="https://www.instagram.com/firmandyt/" target="_blank"><img src="./images/logos/ig.png"
                        width="45px" alt="Instagram Logo"></a>
                <a href="https://www.linkedin.com/in/firmanhidayatullah//" target="_blank"><img
                        src="./images/logos/linkedin.png" width="45px" alt="Linkedin Logo"></a>
                <a href="https://mailto:firman.txt@gmail.com" target="_blank"><img src="./images/logos/gm.png"
                        width="45px" alt="Gmail Logo"></a>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer">
            <h5>&copy 2024 All Rights Reserved My Restaurant | Firman Hidayatullah </h5>
        </div>
    </footer>


    <!-- <main>
        <section id="Home">
            <img class="bg-banner" src="./images/heros/hero-image_4.jpg" alt="Hero Image" />
        </section>
        <div class="container">
            <section class="description">
                <h2 tabindex="0">
                    Description
                </h2>
                <div id="mainContent" class="content">
                    <article>
                        <p tabindex="0" class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
                            tempore atque reprehenderit,
                            ratione, illo
                            neque est perspiciatis itaque temporibus ipsam dignissimos adipisci. Eius alias eligendi
                            laborum facilis
                            ipsam
                            repellat, ipsa quasi voluptatum, esse iure ut recusandae obcaecati nemo quibusdam quod
                            libero? Quam vitae
                            unde, nostrum id quis odio nobis nisi consequuntur debitis? In architecto molestiae ipsa
                            cumque laboriosam
                            totam, quod quibusdam laudantium corporis dolore quia obcaecati corrupti magni? Laudantium
                            quaerat iste
                            dignissimos in repellendus est optio sed labore. Ratione, praesentium.</p>
                    </article>
                </div>
            </section>
            <section class="restaurant">
                <h2 tabindex="0">
                    Our Restaurant
                </h2>
                <p tabindex="0" class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla facilis aliquam qui ut fugiat
                    quibusdam
                    molestiae itaque exercitationem tenetur neque, odio modi eligendi eaque totam laudantium. Amet totam
                    libero
                    rem, ipsa, maxime animi iure error quis, facilis quaerat excepturi eum!
                </p>
                <div class="wrapper-card" id="restaurant-list">

                </div>
            </section>
            <section id="Favorite" class="favorite">
                <h2 tabindex="0">
                    Favorite
                </h2>
                <p tabindex="0" class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                    magnam ipsum quidem eum
                    quo porro
                    aliquid tempora necessitatibus delectus similique veniam officia officiis, assumenda repellat!</p>
                <div class="wrapper-favorite">
                    <div class="card">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/29"
                            alt="Restaurant Pangsit Express">
                        <div class="container">
                            <h4><b>Pangsit Express</b></h4>
                            <p><strong>Kota:</strong> Ternate</p>
                            <p><strong>Rating:</strong> 4.8</p>
                            <button>Detail</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Restaurant Ducky Duck">
                        <div class="container">
                            <h4><b>Ducky Duck</b></h4>
                            <p><strong>Kota:</strong> Malang</p>
                            <p><strong>Rating:</strong> 4.7</p>
                            <button>Detail</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Restaurant Run The Gun">
                        <div class="container">
                            <h4><b>Run The Gun</b></h4>
                            <p><strong>Kota:</strong> Bali</p>
                            <p><strong>Rating:</strong> 4.6</p>
                            <button>Detail</button>
                        </div>
                    </div>
                </div>
            </section>
            <section id="About Us" class="about-us">
                <h2 tabindex="0">About Us</h2>
                <p tabindex="0" class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sapiente
                    quod amet cumque,
                    voluptatibus
                    earum tenetur unde eveniet quas, itaque iure culpa ex quidem commodi aperiam corrupti dolore alias
                    ducimus?
                </p>
                <div class="sosmed">
                    <a href="https://www.instagram.com/firmandyt/" target="_blank"><img src="./images/logos/ig.png"
                            width="45px" alt="Instagram Logo"></a>
                    <a href="https://www.linkedin.com/in/firmanhidayatullah//" target="_blank"><img
                            src="./images/logos/linkedin.png" width="45px" alt="Linkedin Logo"></a>
                    <a href="https://mailto:firman.txt@gmail.com" target="_blank"><img src="./images/logos/gm.png"
                            width="45px" alt="Gmail Logo"></a>
                </div>
            </section>
        </div>

    </main> -->

    <!-- <footer>
        <div class="footer">
            <h5>&copy 2024 All Rights Reserved My Restaurant | Firman Hidayatullah </h5>
        </div>
    </footer> -->

    <!-- <script src="../scripts/index.js"></script> -->
</body>

</html>